
.wrapper {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  h4 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #121B24;
  }

  .itemsSection {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px -9px;

    & > div {
      padding: 0 8px;
      flex: 0 1 33%;
      @media (max-width: 400px) {
        flex: 0 1 50%;
      }
      @media (max-width: 270px) {
        flex: 0 1 100%;
      }
    }
  }
}